@extends('layouts.tim')

@section('content')
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/flatpickr/flatpickr.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/datatables-rowgroup-bs5/rowgroup.bootstrap5.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/libs/%40form-validation/umd/styles/index.min.css') }}" />

    <div class="modal fade" id="edit-catatan" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-simple modal-edit-user">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <form id="editUserForm" class="row g-2 p-0 m-0" onsubmit="return false">
                        <div class="col-12 col-md-12 d-flex flex-row gap-3 align-items-center">
                            <div class="col-12 col-md-3 align-items-center">
                                <label class="form-label text-white" for="image-input">
                                    <img id="preview-image" src="{{ asset('assets/img/avatars/pen.png') }}"
                                        alt="example placeholder"
                                        style="width: 150px; height: 150px; border-radius: 10px" />
                                    <input type="file" class="form-control d-none" id="image-input" name="avatar" />
                                </label>
                            </div>
                            <div class="col-12 col-md-9 d-flex flex-wrap flex-col align-items-center">
                                <label class="form-label m-0 p-0" for="modalEditUserLastName">Name
                                    Team</label>
                                <input type="text" id="modalEditUserLastName" name="modalEditUserLastName"
                                    class="form-control" placeholder="Hummatask" />
                                <label class="form-label m-0 p-0 mt-2" for="modalEditUserLastName">Link Repository
                                    Github</label>
                                <input type="text" id="modalEditUserLastName" name="modalEditUserLastName"
                                    class="form-control" placeholder="https://.." />
                            </div>
                        </div>
                        <div class="col-12 justify-content-center">
                            <div class="row">
                                <div class="mb-3 col-lg-6 col-xl-5 col-12 mb-0">
                                    <label class="form-label" for="form-repeater-1-1">Username</label>
                                    <input type="text" id="form-repeater-1-1" class="form-control"
                                        placeholder="john.doe" />
                                </div>
                                <div class="mb-3 col-lg-6 col-xl-5 col-12 mb-0">
                                    <label class="form-label" for="form-repeater-1-2">Password</label>
                                    <input type="password" id="form-repeater-1-2" class="form-control"
                                        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" />
                                </div>
                                <div class="mb-3 col-lg-12 col-xl-2 col-12 d-flex align-items-center mb-0">
                                    <button class="btn btn-label-danger mt-4" data-repeater-delete>
                                        <i class="ti ti-x ti-xs me-1"></i>
                                        <span class="align-middle">Delete</span>
                                    </button>
                                </div>
                                <div class="mb-0">
                                    <button class="btn btn-primary" data-repeater-create>
                                        <i class="ti ti-plus me-1"></i>
                                        <span class="align-middle">Add</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex flex-row flex-wrap justify-content-end">
                            <button type="submit" class="btn btn-primary me-sm-3 me-1">Unggah</button>
                            <button type="reset" class="btn btn-danger" data-bs-dismiss="modal"
                                aria-label="Close">Batal</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container d-flex mt-5 justify-content-center">
        <div class="col-12">
            <div class="card">
                <h5 class="card-header">Multilingual</h5>
                <div class="card-datatable table-responsive">
                    <table id="jstabel" class="table">
                        <thead>
                            <tr>
                                <th>Catatan</th>
                                <th>Tanggal</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            <tr>
                                <td>Albert Cook</td>
                                <td>
                                    <span class="badge bg-label-primary me-1">22 Januari 2022</span>
                                </td>
                                <td class="d-flex flex-wrap flex-row">
                                    <a class="d-block" data-bs-toggle="modal" data-bs-target="#edit-catatan"><i
                                            class="ti ti-pencil me-1 text-primary"></i></a>
                                    <a class="d-block" href="javascript:void(0);"><i class="ti ti-trash me-1 text-danger"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script>
        jQuery.noConflict();

        jQuery(document).ready(function($) {
            $('#jstabel').DataTable({
                "lengthMenu": [
                    [5, 10, 15, -1],
                    [5, 10, 15, "All"]
                ],
                "pageLength": 5,

                "order": [],

                "ordering": false,

                "language": {
                    "sProcessing": "Sedang memproses...",
                    "sLengthMenu": "Tampilkan MENU data",
                    "sZeroRecords": "Tidak ditemukan Data",
                    "sInfo": "Menampilkan START sampai END dari TOTAL data",
                    "sInfoEmpty": "Menampilkan 0 sampai 0 dari 0 data",
                    "sInfoFiltered": "(disaring dari MAX data keseluruhan)",
                    "sInfoPostFix": "",
                    "sSearch": "Cari:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Pertama",
                        "sPrevious": "&#8592;",
                        "sNext": "&#8594;",
                        "sLast": "Terakhir"
                    }
                }
            });
        });
    </script>
    <script src="{{ asset('assets/vendor/libs/moment/moment.js') }}"></script>
    <script src="{{ asset('assets/vendor/libs/flatpickr/flatpickr.js') }}"></script>
    <script src="{{ asset('assets/vendor/libs/%40form-validation/umd/bundle/popular.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/libs/%40form-validation/umd/plugin-bootstrap5/index.min.js') }}"></script>
    <script src="{{ asset('assets/vendor/libs/%40form-validation/umd/plugin-auto-focus/index.min.js') }}"></script>
    <script src="{{ asset('assets/js/mainf696.js?id=8bd0165c1c4340f4d4a66add0761ae8a') }}"></script>
@endsection